* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: snow;
}
header,footer{
    background-color: #2980b9;
    -webkit-text-fill-color: white;
}
.container{
    border: #2980b9;
    background-color: #2980b9;
}
