* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: snow;
    font-family: Arial, snas-serif;
    color: #333;
}
header,footer{
    background: #2980b9;
    -webkit-text-fill-color: white;
}
.container{
    border: #2980b9;
    background-color: #2980b9;
}
